{% extends 'base.html' %}

{% block content %}
    <h1>About Me</h1><hr>
    <p>
    I'm Ivy Fan-Chiang <small><a href="https://en.pronouns.page/@hexadecimalDino" target="_blank">(they/them)</a></small>, an undergraduate student from Toronto, Ontario studying Computer Science (Co-op) at the University of Waterloo.
    I specialize in backend development and SecOps and am interested in information security, computer science, engineering, mathematics, and music.
    </p>
    <p>
    I previously worked as a backend and security developer at <a href="https://www.dropbase.io/" target="_blank">Dropbase</a> and a DevSecOps engineer at the <a href="https://hoopp.com/" target="_blank">Healthcare of Ontario Pension Plan</a>.
    </p>
    <p>
        The languages, tools, and frameworks I'm comfortable with are:
    </p>
    <ul>
        <li><b>Programming/Scripting Languages</b>: Python, C++, Java, SQL, Bash</li>
        <li><b>Frameworks and Libraries</b>: FastAPI, Django, Flask, SQLAlchemy, NumPy, Pandas</li>
        <li><b>Web/Markup</b>: JavaScript, HTML/CSS, Jinja, LaTeX</li>
        <li><b>CAD Software</b>: Autodesk Fusion 360, SolidWorks, SketchUp, AutoCAD, Blender</li>
        <li><b>Hardware and Integrated Development</b>: Raspberry Pi, Arduino, Raspberry Pi Pico, CircuitPython</li>
        <li><b>Infrastructure and DevOps</b>: Linux Administration, Amazon Web Services (AWS), Terraform, Ansible, NGINX, PostgreSQL</li>
    </ul>
    <p>
        Some of my achievements and certifications:
    </p>
    <ul>
        <li>CompTIA Security+ (SY0-701, December 2023)</li>
        <li>Participated in <a href="https://cybersecuritychallenge.ca/en/" target="_blank">CyberSci</a> 2023 Regionals in Toronto with one of the UWaterloo teams and got 3rd place</li>
        <li>AWS Certified Cloud Practitioner (CLF-02, October 2023)</li>
        <li>3x <a href="https://www.cybertitan.ca/competition/winners.php" target="_blank">CyberTitan</a> National Finalist
            <ul>
                <li>2022 and 2021 National Champion (teams Unavailable for Legal Reasons & Teapot)</li>
                <li>2020 3rd Place National Finalist (team 404:Team_not_found)</li>
            </ul>
        </li>
        <li>2022 <a href="https://www.uscyberpatriot.org/" target="_blank">CyberPatriot</a> Finalist - 5th place</li>
        <li>2x <a href="https://picoctf.org/" target="_blank">picoCTF</a> Top 10 Globally
            <ul>
                <li>2022: 1st in Canada, 3rd Globally (team Parity)</li>
                <li>2021: 2nd in Canada, 7th Globally (team Severance)</li>
            </ul>
        </li>
        <li>Transport Canada Pilot Certificate - Remotely Piloted Aircraft Systems, VLOS - Basic Operations</li>
    </ul>
    <p>Member of the <a href="https://cve.gay/" target="_blank">sillysec</a> CTF team specializing in reverse engineering and forensics</p>
    <p>I also play the piccolo, flute, and piano and like to mess around with Ableton Live!</p>
{% endblock %}
