{% extends 'base.html' %}

{% block content %}
    <h1>About Me</h1><hr>
    <p>
        I'm Ivy Fan-Chiang <small>(they/them)</small>, an undergraduate student from Toronto, Ontario studying Systems Design Engineering at the University of Waterloo.
        I specialize in web backend development and Linux systems administration and am interested in cybersecurity, computer science, engineering, 3D modelling, and music.
    </p>
    <p>
        The languages, tools, and frameworks I'm comfortable with are:
    </p>
    <ul>
        <li>Python, C++, Java, SQL, Processing, Bash</li>
        <li>FastAPI, Django, Flask, React</li>
        <li>JavaScript, HTML/CSS, Jinja, LaTeX</li>
        <li>Git, Linux</li>
        <li>Autodesk Fusion 360, SolidWorks, SketchUp, AutoCAD</li>
        <li>Raspberry Pi, Arduino</li>
    </ul>
    <p>
        Some of my achievements and certifications:
    </p>
    <ul>
        <li>3x <a href="https://www.cybertitan.ca/competition/winners.php" target="_blank">CyberTitan</a> National Finalist
            <ul>
                <li>2022 and 2021 National Champion (teams Unavailable for Legal Reasons & Teapot)</li>
                <li>2020 3rd Place National Finalist (team 404:Team_not_found)</li>
            </ul>
        </li>
        <li>2022 <a href="https://www.uscyberpatriot.org/" target="_blank">CyberPatriot</a> Finalist</li>
        <li>2x <a href="https://picoctf.org/" target="_blank">picoCTF</a> Top 10 Globally
            <ul>
                <li>2022: 1st in Canada, 3rd Globally (team Parity)</li>
                <li>2021: 2nd in Canada, 7th Globally (team Severance)</li>
            </ul>
        </li>
        <li title="Visual Line of Sight - Basic Operations">Transport Canada Pilot Certificate - Remotely Piloted Aircraft Systems</li>
    </ul>
    <p>Member of the <a href="https://cve2k9.club/" target="_blank">CVE2K9</a> and <a href="https://ctftime.org/team/127228" target="_blank">Daemon Summoners</a> CTF teams</p>
{% endblock %}