{% extends 'base.html' %}

{% block content %}
    <h1>About Me</h1><hr>
    <p>
        I'm Ivy Fan-Chiang <small>(they/them)</small>, an undergraduate student from Toronto, Ontario studying Systems Design Engineering at the University of Waterloo.
        I specialize in web backend development and Linux systems administration and am interested in cybersecurity, computer science, engineering, 3D modelling, and music.
    </p>
    <p>
        The languages, tools, and frameworks I'm comfortable with are:
    </p>
    <ul>
        <li>Python, C++, Java, SQL, Processing, Bash</li>
        <li>FastAPI, Django, Flask, React</li>
        <li>JavaScript, HTML/CSS, Jinja, LaTeX</li>
        <li>Git, Linux</li>
        <li>Autodesk Fusion 360, SolidWorks, SketchUp, AutoCAD</li>
        <li>Raspberry Pi, Arduino</li>
    </ul>
    <p>
        Some of my achievements and certifications:
    </p>
    <ul>
        <li>3x CyberTitan National Finalist
            <ul>
                <li>2022 and 2021 National Champion</li>
                <li>2020 3rd Place National Finalist</li>
            </ul>
        </li>
        <li>2022 CyberPatriot Finalist</li>
        <li>2x picoCTF Top 10 Globally
            <ul>
                <li>2022: 1st in Canada, 3rd Globally</li>
                <li>2021: 2nd in Canada, 7th Globally</li>
            </ul>
        </li>
        <li title="Visual Line of Sight - Basic Operations">Transport Canada Pilot Certificate - Remotely Piloted Aircraft Systems</li>
    </ul>
{% endblock %}