{% extends 'base.html' %}

{% block head %}
    <meta name="author" content="Ivy Fan-Chiang">
    <meta itemprop="name" content="{{ title }}">
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="{{ title }}">
    <meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://ivyfanchiang.ca/blog/{{ slug }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='code_blocks.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='katex.min.css') }}">
    <meta name="robots" content="noindex">
{% endblock %}

{% block content %}
    <article>
        <h1>{{ title }}</h1><hr>
                <small>Posted {{ date }}</small><br>
                {{ content|safe }}
    </article>
{% endblock %}
