{% extends 'base.html'%}

{% block content %}
    <h1>Blog</h1><hr>
        <p>Personal blog where I occasionally write about interesting programing tidbits, malware analysis, CTFs, and other topics.</p>
        <div id="rss-button"><a href="{{ url_for('rss') }}"><i class="icon-rss"></i> RSS Feed</a></div>
        {% if not articles|length %}
            <p>No articles yet...</p>
        {% else %}
            <ul>
            {% for i in articles %}
                <li style="list-style-type: none; margin-left: -20px;">{{ i[1] }} - <a href="/blog/{{ i[2] }}">{{ i[0] }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
{% endblock %}
