{% extends 'base.html' %}

{% block content %}
    <h1>Contact Me</h1><hr>
    <i class="far fa-envelope"></i> <b>Email: </b><a href="mailto:contact@ivyfanchiang.ca">contact@ivyfanchiang.ca</a><br>
    <i class="far fa-comments"></i> <b>Matrix: </b><a href="https://matrix.to/#/@userblackbox:matrix.org">@userblackbox:matrix.org</a><br>
    <i class="fab fa-keybase"></i> <b>Keybase: </b><a href="https://keybase.io/userblackbox" target="_blank">userblackbox</a><br>
    <i class="fa-solid fa-circle-nodes"></i> <b>Mastodon:</b> <a href="https://masto.ai/@hexadecimal_dinosaur" target="_blank">@hexadecimal_dinosaur@masto.ai</a><br>
    <i class="fa-solid fa-circle-nodes"></i> <b>Calckey:</b> <a href="https://miruku.cafe/@hexadecimalDinosaur" target="_blank">@hexadecimalDinosaur@miruku.cafe</a><br>
    <h3>GPG Public Keys</h3>
        <i class="fas fa-key"></i> <a href="https://files.ivyfanchiang.ca/contact%40ivyfanchiang.ca_C8BAE5F22A33BA9E.asc">contact@ivyfanchiang.ca - C8BAE5F22A33BA9E</a><br>
    <h3>Identity Proofs</h3>
        <a href="https://keyoxide.org/7F23A44E02AE4CDFD29ECF99C8BAE5F22A33BA9E">Keyoxide PGP Proof</a><br>
{% endblock %}
