{% extends 'base.html' %}

{% block content %}
    <h1>Hi!</h1><hr>
    <p>
        I'm Ivy, a Systems Design Engineering Student at the University of Waterloo.
        This site is my blog and portfolio with information
        <a href="/about/">about me</a>, <a href="/projects/">my projects</a>,
        <a href="/blog/">random blog posts</a>, and <a href="/contact/">my contact information</a>.
    </p>
    <p>You might be interested to look at some of my programming and modelling projects <a href="/projects/">here</a>. Many of my programming projects can be found on GitHub and my modelling projects can be found on Printables.</p>
    <i class="fab fa-github"></i> GitHub: <a href="https://github.com/hexadecimalDinosaur" target="_blank">hexadecimalDinosaur</a><br>
    <i class="fa-solid fa-cube"></i> Prusa Printables: <a href="https://www.printables.com/social/333155-userblackbox/models" target="_blank">userblackbox</a><br>
    <i class="fab fa-linkedin"></i> LinkedIn: <a href="https://www.linkedin.com/in/ivy-fan-chiang/" target="_blank">Ivy Fan-Chiang</a><br>
    <i class="fa-solid fa-circle-nodes"></i> Mastodon: <a href="https://masto.ai/@hexadecimal_dinosaur" target="_blank">@hexadecimal_dinosaur@masto.ai</a><br>
    <i class="fa-regular fa-file"></i> Resume: <a href="https://files.ivyfanchiang.ca/resume.pdf" target="_blank">files.ivyfanchiang.ca</a><br>
{% endblock %}