{% extends 'base.html' %}

{% block head %}
    <meta itemprop="name" content="{{ title }}">
    <meta prefix="og: http://ogp.me/ns#" property="og:title" content="{{ title }}">
    <meta prefix="og: http://ogp.me/ns#" property="og:url" content="https://ivyfanchiang.ca/reference/{{ slug }}">
    <meta name="robots" content="noindex">
    <style>
        table {
            min-width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <article>
        <h1>{{ title }}</h1><hr>
        {{ toc|safe }}
        {{ content|safe }}
    </article>

    <script>
        const codes = document.getElementsByTagName('code');
        for(let i=0; i<codes.length; i++){
        let code = codes[i];
            code.title = "Click to copy";
            code.onclick = function() {
                document.execCommand("copy");
            }
            code.addEventListener("copy", function(event) {
                event.preventDefault();
                if (event.clipboardData) {
                    event.clipboardData.setData('text/plain', code.textContent);
                }
            });
        }
    </script>
{% endblock %}
